.advantages {
  padding-top: 32px;

  text-align: center;
}

.advantages__slogan {
  margin: 0 0 26px 0;

  font-weight: bold;
  font-size: 21px;
}

.advantages__text {
  margin: 0 0 11px 0;

  font-size: 14px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  padding-top: 25px;

  background-color: $grey;

  &:first-child,
  &:nth-child(2) {
    background-color: $blue;

    color: $white;
  }
}

.advantages__city {
  grid-column: 1 / -1;
  order: 1;
}

.advantages__item-image {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
  }

  &::after {
    grid-column: span 2;
    display: block;
    content: "";
    width: 320px;
    height: 256px;

    background-color: $blue;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  &:first-child::after {
    background-image: url("../../img/motel.jpg");
  }

  &:nth-child(2)::after {
    background-image: url("../../img/devil-bridge.jpg");
  }
}

.advantages__title {
  margin: 0 0 21px 0;

  font-weight: bold;
}

.advantages__subtitle {
  margin: 0 0 21px 0;

  font-size: 14px;
}

.advantages__description {
  margin: 0;
  padding-bottom: 39px;

  font-size: 14px;
}
