.field__label {
  font-size: 14px;
  color: $grey-700;
}

.field__input {
  margin-bottom: 20px;
  padding: 18px 22px 14px 22px;

  background-color: $grey-200;
  border: none;
}

.field__input::placeholder {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  color: $black;
}
