.form-feedback {
  margin: 20px auto 51px auto;
}

.form-feedback__title {
  font-weight: bold;
}

.form-feedback__textarea {
  padding: 18px 20px 24px 20px;

  min-width: 280px;

  background-color: $grey-200;
  border: none;

  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: $black;
  }
}
