.main-header {
  margin: 36px 0 16px 0;

  text-align: center;
}

.main-header__title {
  margin: 0 0 26px 0;

  font-weight: bold;
  font-size: 21px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.main-header__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
