.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    width: 20%;
  }

  &:nth-child(4n-2) {
    @media (min-width: $tablet-width) {
      margin-right: 20%;
    }
  }
}

.main-nav__item-link {
  display: block;

  font-weight: bold;
  line-height: 40px;
  color: $black;

  background-color: $white;

  @media (max-width: $mobile-width-only) {
    color: $white;

    background-color: $blue;
  }
}
