.page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.page__body {
  min-width: 320px;

  margin: 0;

  color: $black;
  text-transform: uppercase;

  background-color: $white;
}

.page__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100vw;

  margin: 0 auto;

  background-color: $white;
  box-shadow: 0 5px 15px 0 rgba($black, 0.2);

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
