.page-header {
  padding-bottom: 389px;
  margin-bottom: 32px;

  background-color: $white;
  background-image: url("../../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
}
